
/**********ELEMENTS**********/

body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
  }
  h1 {
    color: #676FA3;
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
  }
  h2 {
    color: #676FA3;
    font-family: 'Monserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
  }
  h3 {
    color: #676FA3;
    font-family: 'Monserrat', sans-serif;
  }
  a {
    color: #676FA3;
    font-family: 'Monserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
  }
  a:hover {
      color: #838dc9;
  }
  p {
      line-height: 2;
  }
  hr {
      border: dotted #d3d3d3 6px;
      border-bottom: none;
      margin: 100px auto;
      width: 4%;
  }

  /**********CLASSES**********/

  .top-container {
   background-color: #CDDEFF;
    padding-top: 100px;
    position: relative;
    
  }
  .middle-container {
      margin: 100px 0;
  
  }
  .middle-container h2{
      color: #676FA3;
  }
 .bottom-container {
     background-color: #CDDEFF;
     padding: 50px 0 20px;
 }

.top-cloud{
    position: absolute;
    right: 300px;
    top: 50px;
} 
.profile {
    margin: 25px auto;
    width: 50%;
}
.bottom-cloud {
    position: absolute;
    left: 250px;
    bottom: 300px;
}
.building {
    height: 350px;
    padding-top: 35px;
}
.skill-row {
    line-height: 2;
    margin: 100px auto;
    text-align: left;
    width: 50%;
}
.comp-img{
    border-radius: 100%;
    float: left;
    margin-right: 30px;
}
.learn-img{
    float: right;
    margin-left: 30px;
}
.comp-img,
.learn-img {
    width: 25%;
}
.contact-message {
    margin: 40px auto 60px;
    width: 40%;
}
.btn {
    background: #fc8a8a;
    background-image: -webkit-linear-gradient(top, #fc8a8a, #FF5959);
    background-image: -moz-linear-gradient(top, #fc8a8a, #FF5959);
    background-image: -ms-linear-gradient(top, #fc8a8a, #FF5959);
    background-image: -o-linear-gradient(top, #fc8a8a, #FF5959);
    background-image: linear-gradient(to bottom, #fc8a8a, #FF5959);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Monserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #FF5959;
    color: #FFFFFF;
    text-decoration: none;
  }
  .copywrite {
      color: #838dc9;
      font-size: 0.75rem;
      padding: 20px 0;
  }
  /**********IDs**********/

#prof-pic{
    width: 15%;
    max-width: 400px;
    min-width: 150px;
    border-radius: 100%;
}
#intro {
    margin: auto;
    width: 85%;
}